@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
main {
  width: 80%;
  margin: auto;

  box-sizing: border-box;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  background-attachment: fixed;
  text-align: center;
  justify-content: center;
}

.nagykep {
  max-width: 100%;
  max-height: 100%;
  justify-self: center;
  align-self: center;
}
h1{
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30%;
}
.item {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
.bal {
  justify-self: start;
}
.jobb {
  justify-self: end;
}

.kiscontainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  height: 300px;
}
.jobb,
.bal {
  background-color: rgb(39, 38, 38);
  color: azure;
  width: 50px;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(Hatter.jpg);
  width: 100%;

  box-sizing: border-box;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;

  background-attachment: fixed;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .item {
    flex-basis: 50%;
  }
}
